/* set up body */
body{
    background-color:#333;
}

/* target the top pomodor app*/
.container{
    max-width:600px;
    margin: auto;
    background-color:white;
    height:100%; 
    padding:10px;
    border-radius:4px;
}
.container h1{
    margin: 5px auto;
    text-align: center;

}
#colon{
    font-size:2em;
    text-align:center;
}

/* target entire upper module*/
#top{
    background-color:#CCCCFF;
    color:white;
    border-radius:5px;
    padding:5px;
}

/* title and tomatoes */
#title{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap:wrap;
}
#tomatoes{
    display:flex;
    flex-direction:row;
    height:50px;
    margin:auto;
}
img{
    width:50px;
}


/*  minutes, seconds, start button */
#timer{
    display:flex;
    align-items:stretch;
    flex-direction:row;
    justify-content: space-around;
    flex-grow:1; 
    margin:auto;
}


/* both lists*/
#lists{
    display:flex;
    box-sizing:border-box;
    list-style:none;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
/* todo list */
#todo-container{
    width:50%;
    padding-left:10px;

}

button{
    background-color:white;
}

/*done list */
#done-tasks{
    width:50%;
    padding-left:10px;
}

li[iscomplete=true] span{
    background-color:#ff6666;
    color:white;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    display:inline;
}

/* footer */

footer{
    position:fixed;
    left:0;
    bottom:0;
}