/* set up body */
body{
    background-color:#333;
    font-family: 'Roboto','sans-serif';
}
/* navigation bar*/
nav{
    height:1em;
    padding-bottom:.5em;
    text-align: center;
}

nav ul{
    list-style-type:none;
    margin:0;
    padding:0;
}

nav li{
    background-color:#CCCCFF;
    display:inline;
    border-radius:5px;
    height:1em;
    padding:10px;
}
nav li a:link{
    text-decoration:none;
    color:white;
    padding:inherit;
}
nav li a:visited{
    color:white;
}
nav li a:hover{
    font-weight:900;
    color:#ff6666;
}
/* target the top pomodor app*/
.container{
    max-width:600px;
    margin: auto;
    background-color:white;
    height:100%; 
    padding:10px;
    border-radius:4px;
}
.container h1{
    margin: 5px auto;
    text-align: center;

}


/* target entire upper module*/
#top{
    background-color:#CCCCFF;
    color:white;
    border-radius:5px;
    padding:5px;
}

#mode-display{
    float:right;
}
/* title and tomatoes */
#title{
    display:flex;
    flex-direction: row;
    max-width: 100%;
    flex-wrap:wrap;
}
#tomatoes{
    display:flex;
    flex-direction:row;
    height:50px;
    margin:auto;
}
img{
    width:50px;
}
#task-tracker h3{
    display:inline;

}
#timer-type{
    float:right;
}


/*  minutes, seconds, start button */
div#timer{
    display: block;
    float:none;
    box-sizing:content-box;
    margin:auto;
    font-size:5em;
}
div#timer button{
    display:block;
    margin:0 auto;
    float:none;
    background-color:white;
    height:30px;
    width: 50px;
    height:50px;
    border-radius:50%;
    border:1px solid white;
    font-weight:900;
    padding:2px;
}
div#timer button:focus{
    outline:none;
}
div#timer button[mode=start]{
    background:rgb(103, 160, 103);
    color:white;
    font-weight:900;
} 
div#timer button[mode=pause]{
    background:#ff6666;
    color:white;
    font-weight: 900;
}

section #numbers div{
    text-align: center;
}


/* both lists*/
#lists{
    display:flex;
    box-sizing:border-box;
    list-style:none;
}
ul{
    list-style-type:none;
    margin:0;
    padding:0;
}
/* todo list */
#todo-container{
    width:50%;
    padding-left:10px;
}

div#todo-container input{
    margin-bottom:5px;
}
/* div#todo-container button{
    display:inline;
    padding-left:10px;
} */
#todo-list li:hover{
    text-decoration: line-through;
}
/*done list */
#done-tasks{
    width:50%;
    padding-left:10px;
}

li[iscomplete=true] span{
    background-color:#ff6666;
    color:white;
    padding-left:10px;
    padding-right:10px;
    border-radius:5px;
    display:inline;
    margin:0,0,0,7px;
}

/* footer */

footer{
    position:fixed;
    left:0;
    bottom:0;
}

/* my modal */
div#myModal {
    display:none;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.651)
}

div#myModal .modal-content{
    background-color:#fefefe;
    margin:10% auto;
    width:80%;
    padding:20px;
    max-width:200px;
    border-radius: 4px;
    text-align:center;
}
div#about-modal{
    display:none;
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color:rgba(0, 0, 0, 0.651)
}

div#about-modal .inner-about-modal{
    background-color:#fefefe;
    margin:3% auto;
    width:80%;
    padding:0px 20px 10px 20px;
    max-width:400px;
    border-radius: 4px;
    text-align:center;
}
div#about-modal .inner-about-modal h3{
    padding-top:20px;
}
span[role="button"]{
    font-size:1em;
    color:rgba(23, 18, 18, 0.762);
    font-size:2em;
    float:right;
}

span[role="button"]:hover{
    cursor:pointer;
    color:#ff6666;
}